body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-family: "Urbanist";
  font-weight: 600;
}

.text-center {
  text-align: "center";
}

.FlexContainer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
}

.lightGray {
  color: rgba(255, 255, 255, 0.7);
}

.opal {
  color: #a2d1b1;
}

.lineHeight05 {
  line-height: 0.5px;
}

.borderLine {
  border: 1px solid #463b5e;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.margin-top-12 {
  margin-top: 12;
}
